* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background: #1e2024;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header .img {
  animation: fr 2s ease-out;
}
@keyframes fr {
  0% {
    transform: translatex(-600px);
  }
}
#header .header--text {
  animation: bf 2s ease-out;
}
@keyframes bf {
  0% {
    transform: translatey(-800px);
  }
}
#header .header--text a {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 15px;
}
#header .header--text a:hover {
  padding: 10px 20px;
  background: blueviolet;
  border-radius: 30px;
  text-decoration-line: underline;
}
#header .header--btn {
  animation: vs 2s ease-out;
}
@keyframes vs {
  0% {
    transform: translate(600px);
  }
}
#header .header--btn select {
  background: transparent;
  margin: 0 20px;
  border: none;
  color: #FFFFFF;
}
#header .header--btn select option {
  background: red;
}
#header .header--btn button {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  background: #0096C7;
  border-radius: 10px;
  border: none;
}
#header .header--btn button:hover {
  background: red;
}

#hero {
  background: #09191c;
}
#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hero .hero--text {
  animation: go 2s ease-out;
}
@keyframes go {
  0% {
    transform: rotateX(145deg);
  }
}
#hero .hero--text h4 {
  font-weight: 400;
  font-size: 24px;
  color: #9099A3;
}
#hero .hero--text h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin: 20px 0;
}
#hero .hero--text h1 span {
  color: red;
}
#hero .hero--text button {
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  color: #000000;
  background: #FFFFFF;
  border-radius: 10px;
}
#hero .hero--img .image {
  margin-top: 40px;
  animation: svg 2s ease-out;
}
@keyframes svg {
  0% {
    transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
  }
}

#curs {
  background: #09191c;
  padding-top: 50px;
}
#curs .cur {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  animation: h1 2s ease-out;
}
@keyframes h1 {
  0% {
    transform: translatex(-200px);
  }
}
#curs .cur:hover {
  text-decoration-line: underline;
  color: red;
}
#curs .curs {
  animation: cu 2s ease-out;
  margin-top: 80px;
}
@keyframes cu {
  0% {
    transform: skew(30deg, 20deg);
  }
  50% {
    transform: skew(40deg, 30deg);
  }
}
#curs .curs--block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 62, 80, 0.12);
  width: 600px;
  height: 300px;
  border-radius: 15px;
}
#curs .curs--block__nav {
  margin-top: 80px;
}
#curs .curs--block__nav--text {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
#curs .curs--block__nav--text p {
  padding: 0 10px;
  font-weight: 400;
  font-size: 12px;
  color: black;
}
#curs .curs--block__nav--text ion-icon {
  color: black;
}
#curs .curs--block__nav--btn {
  margin: 25px 20px;
}
#curs .curs--block__nav--btn h1 {
  font-weight: 700;
  font-size: 20px;
  color: #2C3E50;
  margin-bottom: 15px;
}
#curs .curs--block__nav--btn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
  width: 276px;
}
#curs .curs--block__nav--gou {
  display: flex;
  align-items: center;
  margin: 90px 20px;
}
#curs .curs--block__nav--gou h1 {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-decoration-line: underline;
}
#curs .curs--block__nav--gou ion-icon {
  font-size: 20px;
  color: black;
}
#curs .curs--web {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: lightsteelblue;
  width: 600px;
  height: 300px;
  border-radius: 15px;
}
#curs .curs--web__start {
  margin-top: 80px;
}
#curs .curs--web__start--bloc {
  margin-bottom: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
#curs .curs--web__start--bloc ion-icon {
  font-size: 20px;
}
#curs .curs--web__start--bloc p {
  padding: 0 15px;
  font-weight: 400;
  font-size: 12px;
  color: black;
}
#curs .curs--web__start--bloc20 h1 {
  margin: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
#curs .curs--web__start--bloc20 p {
  margin: 20px 20px;
  width: 276px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#curs .curs--web__start--gou2 {
  display: flex;
  align-items: center;
  margin: 90px 20px;
}
#curs .curs--web__start--gou2 h1 {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-decoration-line: underline;
}
#curs .curs--web__start--gou2 ion-icon {
  font-size: 20px;
  color: black;
}
#curs .curs--web__image .adam {
  width: 200px;
}
#curs .curs--top {
  width: 600px;
  height: 300px;
  background: bisque;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
#curs .curs--top__nav {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
#curs .curs--top__nav p {
  font-weight: 400;
  font-size: 12px;
  color: black;
}
#curs .curs--top__nav ion-icon {
  margin: 0 40px;
  font-size: 20px;
  color: black;
}
#curs .curs--top__text {
  margin: 20px 80px;
}
#curs .curs--top__text h1 {
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}
#curs .curs--top__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
#curs .curs--top__vah {
  display: flex;
  align-items: center;
  margin: 20px 65px;
}
#curs .curs--top__vah p {
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
#curs .curs--top__lin {
  margin: 10px 80px;
  width: 446px;
  height: 0;
  border: 0.5px solid #9099A3;
}
#curs .curs--top__osh {
  display: flex;
  align-items: center;
  margin: 20px 80px;
}
#curs .curs--top__osh--tes {
  padding: 0 10px;
}
#curs .curs--top__osh--tes h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: red;
}
#curs .curs--top__osh--tes p {
  font-weight: 400;
  font-size: 14px;
  color: black;
}
#curs .curs--button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
#curs .curs--button button {
  text-align: center;
  padding: 15px 30px;
  background: #0096C7;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
#curs .curs--button button:hover {
  background: red;
}
#curs .swiper {
  width: 600px;
  height: 300px;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background: rgb(255, 255, 255);
}

.swiper-slide:nth-child(2n) {
  background: lightsteelblue;
}

#master {
  background: #09191c;
}
#master .master {
  padding-top: 50px;
}
#master .master--nav {
  animation: bi 2s ease-out;
}
@keyframes bi {
  0% {
    transform: scale3d(-1.4, 0.4, 0.7);
  }
}
#master .master--nav h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#master .master--nav h1:hover {
  text-decoration-line: underline;
  color: red;
}
#master .master--nav__block {
  display: flex;
  align-items: center;
}
#master .master--nav__block .btn {
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
}
#master .master--nav__block .btn2 {
  margin: 0 15px;
  padding: 10px 20px;
  background: #0096C7;
  border-radius: 10px;
  border: none;
}
#master .master--block {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#master .master--block__nav {
  animation: wi 2s ease-out;
  padding: 0 20px;
  width: 326px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
}
@keyframes wi {
  0% {
    transform: translate(12px, 50%);
  }
}
#master .master--block__nav:hover {
  transition: 0.2s;
  background: #9099A3;
  border: 2px solid red;
}
#master .master--block__nav--ash {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}
#master .master--block__nav--ash button {
  padding: 6px 12px;
  background: #9099A3;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
}
#master .master--block__nav--ash p {
  margin: 0 10px;
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
}
#master .master--block__nav h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
  margin-bottom: 15px;
}
#master .master--block__nav p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 276px;
  color: #2C3E50;
}
#master .master--block__nav--tim {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#master .master--block__nav--tim__tip {
  margin: 0 15px;
}
#master .master--block__nav--tim__tip h1 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
}
#master .master--block__nav--tim__tip p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  margin-top: -20px;
}
#master .master--button {
  text-align: center;
}
#master .master--button button {
  background: transparent;
  padding: 15px 35px;
  font-weight: 900;
  font-size: 18px;
  color: #9099A3;
  border: 2px solid #9099A3;
  border-radius: 12px;
  animation: df 2s ease-out;
}
@keyframes df {
  0% {
    transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
  }
}

#forum {
  background: #09191c;
}
#forum .forum {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#forum .forum--text {
  animation: qi 2s ease-out;
}
@keyframes qi {
  0% {
    transform: translatex(-500px);
  }
}
#forum .forum--text h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#forum .forum--text p {
  font-weight: 400;
  font-size: 16px;
  width: 268px;
  color: #9099A3;
}
#forum .forum--nav {
  animation: iq 2s ease-out;
}
@keyframes iq {
  0% {
    transform: translatex(500px);
  }
}
#forum .forum--nav__int p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#forum .forum--nav__int input {
  padding: 0 20px;
  width: 316px;
  height: 60px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#forum .forum--nav__bloc {
  margin: 30px 0;
}
#forum .forum--nav__bloc p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#forum .forum--nav__bloc input {
  color: #FFFFFF;
  padding: 0 20px;
  width: 306px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#forum .forum--nav__tim p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#forum .forum--nav__tim input {
  color: #FFFFFF;
  padding: 0 20px;
  width: 306px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#forum .forum--nav__btn {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#forum .forum--nav__btn p {
  margin: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#forum .forum--nav__btn button {
  padding: 10px 25px;
  background: #0096C7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

#marg {
  background: #09191c;
  padding-top: 100px;
}
#marg .ot {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
#marg .marg {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#marg .marg--block {
  width: 400px;
  height: 175px;
  background: #1E2023;
  border-radius: 15px;
  animation: si 2s ease-out;
}
@keyframes si {
  0% {
    transform: translatex(-500px);
  }
}
#marg .marg--block:hover {
  background: #2C3E50;
  box-shadow: 10px 10px 70px 10px green;
}
#marg .marg--block .foto {
  margin-top: -30px;
  margin-left: 130px;
}
#marg .marg--block p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#marg .marg--block__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
#marg .marg--block__text h4 {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
#marg .marg--block__text h5 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
#marg .marg--marti {
  margin: 0 50px;
  width: 400px;
  height: 175px;
  background: #1E2023;
  border-radius: 15px;
  animation: ei 2s ease-out;
}
@keyframes ei {
  0% {
    transform: translatey(-400px);
  }
}
#marg .marg--marti:hover {
  background: #2C3E50;
  box-shadow: 10px 10px 70px 10px green;
}
#marg .marg--marti .foto {
  margin-top: -30px;
  margin-left: 150px;
}
#marg .marg--marti p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 360px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#marg .marg--marti__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
#marg .marg--marti__text h4 {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
#marg .marg--marti__text h5 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
#marg .marg--for {
  width: 400px;
  height: 175px;
  background: #1E2023;
  border-radius: 15px;
  animation: ai 2s ease-out;
}
@keyframes ai {
  0% {
    transform: translate(500px);
  }
}
#marg .marg--for:hover {
  background: #2C3E50;
  box-shadow: 10px 10px 70px 10px green;
}
#marg .marg--for .foto {
  margin-top: -30px;
  margin-left: 150px;
}
#marg .marg--for p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 360px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#marg .marg--for__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
#marg .marg--for__text h4 {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
#marg .marg--for__text h5 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

#smog {
  background: #09191c;
}
#smog .smog {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#smog .smog--text h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
#smog .smog--text .gou {
  margin: 20px 40px;
}
#smog .smog--text ion-icon {
  color: blue;
  font-size: 50px;
  font-weight: 1900;
}
#smog .smog--nav .accordion {
  cursor: pointer;
  padding: 18px;
  width: 800px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
#smog .smog--nav .active, #smog .smog--nav .accordion:hover {
  background-color: #ccc;
}
#smog .smog--nav__text {
  display: none;
  overflow: hidden;
}
#smog .smog--nav__text p {
  color: #FFFFFF;
  width: 600px;
}

#fotter {
  background: #09191c;
}
#fotter .fotter--block {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#fotter .fotter--block__title h1 {
  width: 107px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
#fotter .fotter--block__title--a a {
  width: 85px;
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
#fotter .fotter--block__title--a a:hover {
  color: red;
}
#fotter .fotter--block__svyaz h1 {
  width: 164px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#fotter .fotter--block__svyaz p {
  width: 228px;
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#fotter .fotter--block__svyaz p:hover {
  color: red;
}
#fotter .fotter--block__svyaz h4 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#fotter .fotter--block__svyaz h4:hover {
  color: red;
}
#fotter .fotter--block__icon h1 {
  width: 78px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#fotter .fotter--block__icon--ion {
  margin: 20px 0;
  color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 1rem;
}
#fotter .fotter--adres {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fotter .fotter--adres__title p {
  width: 171px;
  font-weight: 400;
  font-size: 9px;
  color: #9099A3;
}
#fotter .fotter--adres__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fotter .fotter--adres__block p {
  width: 196px;
  font-weight: 400;
  font-size: 9px;
  color: #9099A3;
}
#fotter .fotter--adres__block--visa__vs {
  margin: 0 7px;
  display: flex;
}
#fotter .fotter--adres__block--visa__img h3 {
  margin-left: 10px;
  width: 36px;
  font-weight: 400;
  font-size: 6px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
