* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background: #1e2024;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header .img {
  animation: fr 2s ease-out;
}
@keyframes fr {
  0% {
    transform: translatex(-600px);
  }
}
#header .header--text {
  animation: bf 2s ease-out;
}
@keyframes bf {
  0% {
    transform: translatey(-800px);
  }
}
#header .header--text a {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 15px;
}
#header .header--text a:hover {
  padding: 10px 25px;
  background: green;
  border-radius: 30px;
}
#header .header--btn {
  animation: vs 2s ease-out;
}
@keyframes vs {
  0% {
    transform: translate(600px);
  }
}
#header .header--btn select {
  background: transparent;
  margin: 0 20px;
  border: none;
  color: #FFFFFF;
}
#header .header--btn select option {
  background: red;
}
#header .header--btn a {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  background: blue;
  border-radius: 10px;
  border: 2px solid;
}
#header .header--btn a:hover {
  background: red;
}

#dannye {
  background: url("../img/neba.jpg") no-repeat center/cover;
  min-height: 100vh;
}
#dannye .dannye {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dannye .dannye--block {
  width: 722px;
  height: 1667px;
  border: 2px solid;
  background: #282B2E;
  border-radius: 15px;
}
#dannye .dannye--block__nav {
  margin: 30px 40px;
}
#dannye .dannye--block__nav h1 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}
#dannye .dannye--block__nav p {
  margin: 20px 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}
#dannye .dannye--block__nav--text {
  display: flex;
  align-items: center;
}
#dannye .dannye--block__nav--text ion-icon {
  margin: 0 20px;
  color: #FFFFFF;
  font-size: 40px;
}
#dannye .dannye--block__nav--text button {
  padding: 15px 25px;
  background: #0096C7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#dannye .dannye--block__navbar--group__input p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#dannye .dannye--block__navbar--group__input--gou {
  width: 313px;
  height: 43.58px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#dannye .dannye--block__navbar--group__input--gou h1 {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#dannye .dannye--block__navbar--group__btn {
  margin: 30px 0;
}
#dannye .dannye--block__navbar--group__btn p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#dannye .dannye--block__navbar--group__btn--gou {
  width: 313px;
  height: 43.58px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#dannye .dannye--block__navbar--group__btn--gou h1 {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#dannye .dannye--block__navbar--group__rou p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#dannye .dannye--block__navbar--group__rou--gou {
  width: 313px;
  height: 43.58px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#dannye .dannye--block__navbar--group__rou--gou h1 {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#dannye .dannye--block__navbar--data__div p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#dannye .dannye--block__navbar--data__div--text {
  width: 313px;
  height: 43.58px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#dannye .dannye--block__navbar--data__div--text h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

/*# sourceMappingURL=style4.css.map */
